.timetable {
  width: 100%;
  overflow: auto;
}

.timerange-cell {
  padding: 0.25rem 0.5rem;
  text-align: left;
  background-color: #eeeeee;
  font-weight: bold;
}

.lane-cell {
  padding: 0.25rem 0.5rem;
  text-align: left;
  background-color: #ef9a9a;
  &.is-available {
    background-color: #a5d6a7;
  }
  &.is-disabled {
    background-color: #ef9a9a;
  }
}
