:host {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

::ng-deep {
  * {
    box-sizing: border-box;
  }
  .ul-reset {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
